<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">MyShop</a>
    </header>
    <nav>
      <ul>
        <li>
          <a href="#"> <i class="zmdi zmdi-view-dashboard"></i> Dashboard </a>
        </li>
        <li>
          <a href="#"> <i class="zmdi zmdi-link"></i> Orders </a>
        </li>
        <li>
          <a href="#"> <i class="zmdi zmdi-widgets"></i> Wishlists </a>
        </li>
        <li>
          <a href="#"> <i class="zmdi zmdi-calendar"></i> Address </a>
        </li>
        <li>
          <a href="#"> <i class="zmdi zmdi-info-outline"></i> Contact </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
